<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <div class="container">

            <div class="header">

                <input type="input" name="name" id='name' required />

                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </div>

            <div id= "photoBox" class="photoBox"></div>


            <div class="city_info">
                <section>
                    <strong>Form Results:</strong>
                    <div id="lat"></div>
                    <div id="lng"></div>
                    <div id="cityName"></div>
                    <div id="adminName"></div>
                    <div id="countryName"></div>
                </section>
            </div>

            <div class="timeHolder">
                <div class="timeInput">
                  <input type="date" id="departure" name="departure">
                </div>
                <div id = "countdown" class="countdown"> </div>
            </div>

            <div class="weather_info">
                <div id="minTemp"></div>
                <div id="maxTemp"></div>
            </div>

        </div>
    </body>
</html>
