<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <div class="container">

            <div class="header">

                <input type="input" name="name" id='name' required />

                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </div>

            <div id= "photoBox" class="photoBox"></div>


            <div class="timeHolder">
                <div class="timeInput">
                    <div class="startdate_input">
                        <input type="date"   id="startdate"  name="departure">
                    </div>

                    <div class="enddate_input">
                        <input type="date"  id="enddate" name="arrival">
                    </div>

                </div>

                <div class="countdown">
                    <div id="days_left"></div>
                    <div id="duration"></div>
                </div>

            </div>

            <div class="info">

                <div class="city_info">
                    <div id="lat"></div>
                    <div id="lng"></div>
                    <div id="cityName"></div>
                    <div id="adminName"></div>
                    <div id="countryName"></div>
                </div>

                <div class = "weather_info">
                    <div id="minTemp"></div>
                    <div id="maxTemp"></div>
                </div>

            </div>

        </div>

        <script>
    // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    </body>
</html>
